.hgxHVR {
  display: none !important;
}
.DkxSo,
.cYcnau {
  box-sizing: border-box !important;
  transition: all 0.3s ease !important;
  font-size: 1.6em !important;
  background-color: transparent !important;
  color: #cd5b25 !important;
  border: none !important;
  box-shadow: none !important;
}
.dYgkhw {
  max-width: 1250px;
}

.jSWIMr {
  justify-content: space-between;
}
